# Dependensi Node.js
node_modules/

# File Rahasia / Environment Variables
.env
.env.*
!.env.example

# Folder Build (jika nanti backend-nya di-build)
dist/
build/

# Log files
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# File Sistem OS
.DS_Store
Thumbs.db

# Dependencies
node_modules/
BE/node_modules/
FE/node_modules/

# Python Virtual Environment
venv/
BE/ai_service/venv/
__pycache__/

# Environment Variables
.env
FE/.env
BE/.env

# Editor
.vscode/